h3{
    color:rgb(80, 10, 80);
    font-size: 50px;
    font-style: normal;
    height: 5px;;
    text-align: center;
    
    


}
div{
    color: rgb(94, 16, 55);
    background-color:pink ;
    letter-spacing: 1px;
    font-style: italic;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    text-emphasis: 3px;
}
